# TEXT

In [100]:
import pandas as pd
df1 = pd.read_csv("C:\\Users\\HP\\Downloads\\CRISIS_1\\task_informative_text_img_train.csv", sep=',')
df1

,event_name,tweet_id,image_id,tweet_text,image,label,label_text,label_image,label_text_image
0,california_wildfires,917791291823591425,917791291823591425_0,RT @Cal_OES: PLS SHARE: Weâ€™re capturing wild...,data_image/california_wildfires/10_10_2017/917...,informative,informative,informative,Positive
1,california_wildfires,917791291823591425,917791291823591425_1,RT @Cal_OES: PLS SHARE: Weâ€™re capturing wild...,data_image/california_wildfires/10_10_2017/917...,not_informative,informative,not_informative,Negative
2,california_wildfires,917793137925459968,917793137925459968_0,RT @KAKEnews: California wildfires destroy mor...,data_image/california_wildfires/10_10_2017/917...,informative,informative,informative,Positive
3,california_wildfires,917793137925459968,917793137925459968_1,RT @KAKEnews: California wildfires destroy mor...,data_image/california_wildfires/10_10_2017/917...,informative,informative,informative,Positive
4,california_wildfires,917793137925459968,917793137925459968_2,RT @KAKEnews: California wildfires destroy mor...,data_image/california_wildfires/10_10_2017/917...,informative,informative,informative,Positive
...,...,...,...,...,...,...,...,...,...
13603,hurricane_maria,912341945430798336,912341945430798336_0,11am #Maria update: tropical storm force winds...,data_image/hurricane_maria/25_9_2017/912341945...,informative,informative,informative,Positive
13604,hurricane_irma,909936612196454403,909936612196454403_0,RT @WhereTraveler: Hurricane Irma Survival Gui...,data_image/hurricane_irma/19_9_2017/9099366121...,informative,informative,not_informative,Negative
13605,hurricane_harvey,905581858485882881,905581858485882881_0,Thinking of doing a #DNA test? Buy a @FamilyTr...,data_image/hurricane_harvey/7_9_2017/905581858...,not_informative,informative,not_informative,Negative
13606,hurricane_irma,909879746598723590,909879746598723590_0,Now blaming Hurricane Irma on Ursula the Witch...,data_image/hurricane_irma/18_9_2017/9098797465...,informative,informative,not_informative,Negative
13607,mexico_earthquake,910700764808564736,910700764808564736_0,"Earthquake in Mexico rocks PH Embassy, no Fili...",data_image/mexico_earthquake/21_9_2017/9107007...,informative,informative,informative,Positive

In [132]:
selected_columns=df1[['tweet_text','label_text']]
df3=selected_columns.copy()

In [133]:
df3

                                              tweet_text   label_text
0      RT @Cal_OES: PLS SHARE: Weâ€™re capturing wild...  informative
1      RT @Cal_OES: PLS SHARE: Weâ€™re capturing wild...  informative
2      RT @KAKEnews: California wildfires destroy mor...  informative
3      RT @KAKEnews: California wildfires destroy mor...  informative
4      RT @KAKEnews: California wildfires destroy mor...  informative
...                                                  ...          ...
13603  11am #Maria update: tropical storm force winds...  informative
13604  RT @WhereTraveler: Hurricane Irma Survival Gui...  informative
13605  Thinking of doing a #DNA test? Buy a @FamilyTr...  informative
13606  Now blaming Hurricane Irma on Ursula the Witch...  informative
13607  Earthquake in Mexico rocks PH Embassy, no Fili...  informative

[13608 rows x 2 columns]

In [135]:
code = []

for i in range(df3.shape[0]):
    if (df3.iloc[i]['label_text']=='informative'):
        code.append(1)
    elif (df3.iloc[i]['label_text']=='not_informative'):
        code.append(0)
    else:
#         poke_type.append('NaN')
        code.append('NaN')
df3['code'] = code
new_df = df3

new_df.reset_index(drop=True, inplace=True)

In [136]:
new_df

                                              tweet_text   label_text  code
0      RT @Cal_OES: PLS SHARE: Weâ€™re capturing wild...  informative     1
1      RT @Cal_OES: PLS SHARE: Weâ€™re capturing wild...  informative     1
2      RT @KAKEnews: California wildfires destroy mor...  informative     1
3      RT @KAKEnews: California wildfires destroy mor...  informative     1
4      RT @KAKEnews: California wildfires destroy mor...  informative     1
...                                                  ...          ...   ...
13603  11am #Maria update: tropical storm force winds...  informative     1
13604  RT @WhereTraveler: Hurricane Irma Survival Gui...  informative     1
13605  Thinking of doing a #DNA test? Buy a @FamilyTr...  informative     1
13606  Now blaming Hurricane Irma on Ursula the Witch...  informative     1
13607  Earthquake in Mexico rocks PH Embassy, no Fili...  informative     1

[13608 rows x 3 columns]

In [137]:
from sklearn.model_selection import train_test_split
train_df, test_df= train_test_split(new_df, test_size=0.2, random_state=25)

In [138]:
import re
import nltk 
from nltk.tokenize import word_tokenize 
from nltk.stem import SnowballStemmer
import numpy as np
from nltk.corpus import stopwords
stop_words=set(stopwords.words("english"))
print(stopwords.words("english"))
stop_wrds=np.array(stop_words)
# stemmer=SnowballStemmer()
stemmer = nltk.stem.SnowballStemmer('english')
def clean_text(each_text):

    # remove URL from text
    each_text_no_url = re.sub(r"http\S+", "", each_text)
    
    # remove numbers from text
    text_no_num = re.sub(r'\d+', '', each_text_no_url)

    # tokenize each text
    word_tokens = word_tokenize(text_no_num)
    
    # remove sptial character
    clean_text = []
    for word in word_tokens:
        clean_text.append("".join([e for e in word if e.isalnum()]))

    # remove stop words and lower
    text_with_no_stop_word = [w.lower() for w in clean_text if not w in stop_words]  

    # do stemming
    stemmed_text = [stemmer.stem(w) for w in text_with_no_stop_word]
    
    return " ".join(" ".join(stemmed_text).split())


train_df['tweet_text'] = train_df['tweet_text'].apply(lambda x: clean_text(x) )

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

<ipython-input-138-6946dafe07e6>:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df['tweet_text'] = train_df['tweet_text'].apply(lambda x: clean_text(x) )

In [139]:
train_df

,tweet_text,label_text,code
11191,immigr communiti fear harvey relief effort cou...,not_informative,0
7707,russia look expand influenc latin america aid ...,informative,1
182,rt thebrasil adam amp georg potenci meme lolla...,not_informative,0
1724,maria stay offshor close enough brush deliv ou...,informative,1
7911,hurrican maria power outag put old vulner ri us,informative,1
...,...,...,...
2934,antonio medina new train buddi new york irma w...,informative,1
10383,so thank god protect us irma if tree fallen to...,informative,1
6618,the fuck do u mean watch i m over here hope a ...,not_informative,0
8510,irma still power cat storm sustain wind mph it...,informative,1
13444,usatoday raw over known dead iran earthquak,informative,1

In [140]:
test_df

,tweet_text,label_text,code
6334,Don't forget about Puerto Rico. https://t.co/K...,not_informative,0
10738,Weekend Update on Hurricane Maria - SNL WATCH ...,informative,1
3986,Take me back to the good old days in my Puerto...,not_informative,0
438,"Mas adam don't forget mimpY mora, med bubuG á½...",not_informative,0
2803,photos day after Irma... https://t.co/cCC5PHyl3r,informative,1
...,...,...,...
1775,In Newark where local leaders are announcing r...,informative,1
1645,"Ocean Park, a moment ago, still under water. P...",informative,1
6420,With a forecast track hauntingly close to #Irm...,informative,1
13236,#art - Tree of Life Bildinsperation Antonio Mo...,not_informative,0
7692,Hurricane Irma: Symphony of Compensation https...,informative,1

In [142]:
train_text = train_df['tweet_text']
y = train_df['code']
train_df.drop('label_text',axis = 1,inplace=True)

C:\Users\HP\anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [143]:
train_df

                                              tweet_text  code
11191  immigr communiti fear harvey relief effort cou...     0
7707   russia look expand influenc latin america aid ...     1
182    rt thebrasil adam amp georg potenci meme lolla...     0
1724   maria stay offshor close enough brush deliv ou...     1
7911     hurrican maria power outag put old vulner ri us     1
...                                                  ...   ...
2934   antonio medina new train buddi new york irma w...     1
10383  so thank god protect us irma if tree fallen to...     1
6618   the fuck do u mean watch i m over here hope a ...     0
8510   irma still power cat storm sustain wind mph it...     1
13444        usatoday raw over known dead iran earthquak     1

[10886 rows x 2 columns]

In [144]:
max_len = 10
max_words = 10000

In [145]:
from keras_preprocessing.text import Tokenizer
tokenizer = Tokenizer(num_words=max_words)

In [146]:
tokenizer.fit_on_texts(train_text)
word_index = tokenizer.word_index
len(word_index)

14387

In [147]:
from keras_preprocessing.sequence import pad_sequences
from keras.models import Sequential
from keras.layers import Dense, Dropout, LSTM, GRU, SimpleRNN, Embedding, Flatten
sequences = tokenizer.texts_to_sequences(train_text)
X = pad_sequences(sequences, maxlen=max_len)
X.shape

(10886, 10)

In [148]:
# test_df.drop('code',axis = 1,inplace=True)
test_df.drop('label_text',axis = 1,inplace=True)

C:\Users\HP\anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [149]:
train_df

                                              tweet_text  code
11191  immigr communiti fear harvey relief effort cou...     0
7707   russia look expand influenc latin america aid ...     1
182    rt thebrasil adam amp georg potenci meme lolla...     0
1724   maria stay offshor close enough brush deliv ou...     1
7911     hurrican maria power outag put old vulner ri us     1
...                                                  ...   ...
2934   antonio medina new train buddi new york irma w...     1
10383  so thank god protect us irma if tree fallen to...     1
6618   the fuck do u mean watch i m over here hope a ...     0
8510   irma still power cat storm sustain wind mph it...     1
13444        usatoday raw over known dead iran earthquak     1

[10886 rows x 2 columns]

In [150]:
test_df

                                              tweet_text  code
6334   Don't forget about Puerto Rico. https://t.co/K...     0
10738  Weekend Update on Hurricane Maria - SNL WATCH ...     1
3986   Take me back to the good old days in my Puerto...     0
438    Mas adam don't forget mimpY mora, med bubuG á½...     0
2803    photos day after Irma... https://t.co/cCC5PHyl3r     1
...                                                  ...   ...
1775   In Newark where local leaders are announcing r...     1
1645   Ocean Park, a moment ago, still under water. P...     1
6420   With a forecast track hauntingly close to #Irm...     1
13236  #art - Tree of Life Bildinsperation Antonio Mo...     0
7692   Hurricane Irma: Symphony of Compensation https...     1

[2722 rows x 2 columns]

In [151]:
test_data = tokenizer.texts_to_sequences(test_df['tweet_text'])
test_data = pad_sequences(test_data, maxlen=max_len)
test_data.shape

(2722, 10)

In [152]:
y = np.array(y).reshape((-1,1))
y.shape

(10886, 1)

In [153]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, test_size=0.15)

In [154]:
X_train.shape

(9253, 10)

In [155]:
def train_model(model, batch_size=32, epochs=50):
    model.compile(optimizer='rmsprop', loss='binary_crossentropy', metrics=['acc'])
    history=model.fit(X_train, y_train, epochs=epochs, batch_size=batch_size, validation_split=0.2)
    print('-' * 100)
    print('Test data')
    model.evaluate(X_test, y_test)
    return history

In [156]:
def visual_validation_and_accuracy(history):
    acc = history.history['acc']
    val_acc = history.history['val_acc']
    loss = history.history['loss']
    val_loss = history.history['val_loss']

    epochs_plot = np.arange(1, len(loss) + 1)
    plt.clf()

    plt.plot(epochs_plot, acc, 'r', label='Training acc')
    plt.plot(epochs_plot, val_acc, 'b', label='Validation acc')
    plt.plot(epochs_plot, loss, 'r:', label='Training loss')
    plt.plot(epochs_plot, val_loss, 'b:', label='Validation loss')
    plt.title('Validation and accuracy')
    plt.xlabel('Epochs')
    plt.legend()
    plt.show()

In [157]:
from keras.layers import Dense, Input, GlobalMaxPooling1D
from keras.layers import Conv1D, MaxPooling1D, Embedding, Flatten
from keras.models import Model
from keras.models import Sequential
from keras.initializers import Constant
model = Sequential([
    Embedding(max_words, 32, input_length=max_len),
    Flatten(),
    Dense(16, activation='relu'),
    Dropout(0.5),
    Dense(8, activation='relu'),
    Dropout(0.5),
    Dense(1, activation='sigmoid')
])
model.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding_2 (Embedding)     (None, 10, 32)            320000

 flatten_3 (Flatten)         (None, 320)               0

 dense_9 (Dense)             (None, 16)                5136

 dropout_4 (Dropout)         (None, 16)                0

 dense_10 (Dense)            (None, 8)                 136

 dropout_5 (Dropout)         (None, 8)                 0

 dense_11 (Dense)            (None, 1)                 9

=================================================================
Total params: 325,281
Trainable params: 325,281
Non-trainable params: 0
_________________________________________________________________

In [158]:
history = train_model(model)

Epoch 1/50
232/232 [==============================] - 1s 3ms/step - loss: 0.6119 - acc: 0.7059 - val_loss: 0.5480 - val_acc: 0.6964
Epoch 2/50
232/232 [==============================] - 1s 3ms/step - loss: 0.5218 - acc: 0.7098 - val_loss: 0.4832 - val_acc: 0.6964
Epoch 3/50
232/232 [==============================] - 1s 3ms/step - loss: 0.4549 - acc: 0.7302 - val_loss: 0.4655 - val_acc: 0.7974
Epoch 4/50
232/232 [==============================] - 1s 3ms/step - loss: 0.4026 - acc: 0.8530 - val_loss: 0.4577 - val_acc: 0.8125
Epoch 5/50
232/232 [==============================] - 1s 3ms/step - loss: 0.3499 - acc: 0.8877 - val_loss: 0.4658 - val_acc: 0.8125
Epoch 6/50
232/232 [==============================] - 1s 3ms/step - loss: 0.2965 - acc: 0.9146 - val_loss: 0.4984 - val_acc: 0.8055
Epoch 7/50
232/232 [==============================] - 1s 3ms/step - loss: 0.2427 - acc: 0.9333 - val_loss: 0.5333 - val_acc: 0.7909
Epoch 8/50
232/232 [==============================] - 1s 3ms/step - loss: 0.2044 - acc: 0.9491 - val_loss: 0.5957 - val_acc: 0.7790
Epoch 9/50
232/232 [==============================] - 1s 3ms/step - loss: 0.1808 - acc: 0.9557 - val_loss: 0.6570 - val_acc: 0.7720
Epoch 10/50
232/232 [==============================] - 1s 3ms/step - loss: 0.1533 - acc: 0.9650 - val_loss: 0.7442 - val_acc: 0.7720A: 0s - loss: 0.1518 - acc: 0.9
Epoch 11/50
232/232 [==============================] - 1s 3ms/step - loss: 0.1339 - acc: 0.9684 - val_loss: 0.8868 - val_acc: 0.7715TA: 0s - loss: 0.1364 - acc: 0
Epoch 12/50
232/232 [==============================] - 1s 3ms/step - loss: 0.1183 - acc: 0.9718 - val_loss: 0.9970 - val_acc: 0.7661
Epoch 13/50
232/232 [==============================] - 1s 3ms/step - loss: 0.1044 - acc: 0.9754 - val_loss: 1.1155 - val_acc: 0.7612
Epoch 14/50
232/232 [==============================] - 1s 3ms/step - loss: 0.0976 - acc: 0.9754 - val_loss: 1.2577 - val_acc: 0.7693
Epoch 15/50
232/232 [==============================] - 1s 3ms/step - loss: 0.0900 - acc: 0.9774 - val_loss: 1.3028 - val_acc: 0.7542
Epoch 16/50
232/232 [==============================] - 1s 3ms/step - loss: 0.0780 - acc: 0.9808 - val_loss: 1.4237 - val_acc: 0.7450
Epoch 17/50
232/232 [==============================] - 1s 3ms/step - loss: 0.0775 - acc: 0.9789 - val_loss: 1.6339 - val_acc: 0.7526
Epoch 18/50
232/232 [==============================] - 1s 3ms/step - loss: 0.0746 - acc: 0.9791 - val_loss: 1.8414 - val_acc: 0.7553
Epoch 19/50
232/232 [==============================] - 1s 3ms/step - loss: 0.0659 - acc: 0.9819 - val_loss: 2.0336 - val_acc: 0.7634
Epoch 20/50
232/232 [==============================] - 1s 3ms/step - loss: 0.0649 - acc: 0.9814 - val_loss: 2.1235 - val_acc: 0.7542
Epoch 21/50
232/232 [==============================] - 1s 3ms/step - loss: 0.0668 - acc: 0.9803 - val_loss: 2.3289 - val_acc: 0.7558
Epoch 22/50
232/232 [==============================] - 1s 3ms/step - loss: 0.0600 - acc: 0.9823 - val_loss: 2.5273 - val_acc: 0.7580
Epoch 23/50
232/232 [==============================] - 1s 3ms/step - loss: 0.0594 - acc: 0.9827 - val_loss: 2.9782 - val_acc: 0.7704
Epoch 24/50
232/232 [==============================] - 1s 3ms/step - loss: 0.0619 - acc: 0.9808 - val_loss: 3.1053 - val_acc: 0.7661
Epoch 25/50
232/232 [==============================] - 1s 3ms/step - loss: 0.0531 - acc: 0.9841 - val_loss: 3.2640 - val_acc: 0.7639
Epoch 26/50
232/232 [==============================] - 1s 3ms/step - loss: 0.0559 - acc: 0.9826 - val_loss: 3.6128 - val_acc: 0.7709
Epoch 27/50
232/232 [==============================] - 1s 3ms/step - loss: 0.0497 - acc: 0.9846 - val_loss: 3.7493 - val_acc: 0.7628
Epoch 28/50
232/232 [==============================] - 1s 3ms/step - loss: 0.0528 - acc: 0.9824 - val_loss: 4.1593 - val_acc: 0.7677
Epoch 29/50
232/232 [==============================] - 1s 4ms/step - loss: 0.0487 - acc: 0.9843 - val_loss: 4.4172 - val_acc: 0.7639
Epoch 30/50
232/232 [==============================] - 1s 3ms/step - loss: 0.0416 - acc: 0.9869 - val_loss: 4.9279 - val_acc: 0.7639
Epoch 31/50
232/232 [==============================] - 1s 3ms/step - loss: 0.0422 - acc: 0.9864 - val_loss: 5.5207 - val_acc: 0.7655
Epoch 32/50
232/232 [==============================] - 1s 3ms/step - loss: 0.0481 - acc: 0.9847 - val_loss: 5.4174 - val_acc: 0.7672
Epoch 33/50
232/232 [==============================] - 1s 3ms/step - loss: 0.0413 - acc: 0.9866 - val_loss: 5.6253 - val_acc: 0.7666
Epoch 34/50
232/232 [==============================] - 1s 3ms/step - loss: 0.0394 - acc: 0.9869 - val_loss: 5.7887 - val_acc: 0.7661
Epoch 35/50
232/232 [==============================] - 1s 3ms/step - loss: 0.0427 - acc: 0.9873 - val_loss: 6.1229 - val_acc: 0.7688
Epoch 36/50
232/232 [==============================] - 1s 3ms/step - loss: 0.0454 - acc: 0.9861 - val_loss: 6.6248 - val_acc: 0.7661
Epoch 37/50
232/232 [==============================] - 1s 3ms/step - loss: 0.0419 - acc: 0.9865 - val_loss: 6.6507 - val_acc: 0.7612- loss: 0.0414 - acc: 0.986 - ETA: 0s - loss: 0.0419 - acc: 0.986
Epoch 38/50
232/232 [==============================] - 1s 3ms/step - loss: 0.0338 - acc: 0.9891 - val_loss: 6.9432 - val_acc: 0.7634
Epoch 39/50
232/232 [==============================] - 1s 3ms/step - loss: 0.0400 - acc: 0.9870 - val_loss: 7.1326 - val_acc: 0.7639
Epoch 40/50
232/232 [==============================] - 1s 3ms/step - loss: 0.0391 - acc: 0.9880 - val_loss: 7.7304 - val_acc: 0.7655
Epoch 41/50
232/232 [==============================] - 1s 3ms/step - loss: 0.0388 - acc: 0.9869 - val_loss: 7.9123 - val_acc: 0.7650
Epoch 42/50
232/232 [==============================] - 1s 3ms/step - loss: 0.0328 - acc: 0.9899 - val_loss: 7.8361 - val_acc: 0.7661
Epoch 43/50
232/232 [==============================] - 1s 3ms/step - loss: 0.0374 - acc: 0.9869 - val_loss: 8.5991 - val_acc: 0.7747
Epoch 44/50
232/232 [==============================] - 1s 3ms/step - loss: 0.0376 - acc: 0.9872 - val_loss: 8.4066 - val_acc: 0.7693
Epoch 45/50
232/232 [==============================] - 1s 3ms/step - loss: 0.0335 - acc: 0.9889 - val_loss: 8.7954 - val_acc: 0.7731
Epoch 46/50
232/232 [==============================] - 1s 3ms/step - loss: 0.0411 - acc: 0.9859 - val_loss: 8.8954 - val_acc: 0.7704
Epoch 47/50
232/232 [==============================] - 1s 3ms/step - loss: 0.0343 - acc: 0.9889 - val_loss: 9.6614 - val_acc: 0.7817
Epoch 48/50
232/232 [==============================] - 1s 3ms/step - loss: 0.0401 - acc: 0.9866 - val_loss: 9.1870 - val_acc: 0.7699
Epoch 49/50
232/232 [==============================] - 1s 3ms/step - loss: 0.0369 - acc: 0.9876 - val_loss: 9.8553 - val_acc: 0.7785
Epoch 50/50
232/232 [==============================] - 1s 3ms/step - loss: 0.0360 - acc: 0.9878 - val_loss: 9.7663 - val_acc: 0.7715
----------------------------------------------------------------------------------------------------
Test data
52/52 [==============================] - 0s 939us/step - loss: 9.2271 - acc: 0.7998

In [159]:
results = model.evaluate(X_test, y_test, batch_size=128)

13/13 [==============================] - 0s 2ms/step - loss: 9.2271 - acc: 0.7998

In [160]:
print("%s: %.2f%%" % (model.metrics_names[1], results[1]*100))

acc: 79.98%

# IMAGE

In [161]:
import tensorflow as tf
import numpy as np
from tensorflow import keras
import os
import cv2
from tensorflow.keras.preprocessing.image import ImageDataGenerator
from tensorflow.keras.preprocessing import image
import matplotlib.pyplot as plt

In [162]:
import pandas as pd
df = pd.read_csv("C:\\Users\\HP\\Downloads\\CRISIS_1\\task_informative_text_img_train.csv", sep=',')
df

,event_name,tweet_id,image_id,tweet_text,image,label,label_text,label_image,label_text_image
0,california_wildfires,917791291823591425,917791291823591425_0,RT @Cal_OES: PLS SHARE: Weâ€™re capturing wild...,data_image/california_wildfires/10_10_2017/917...,informative,informative,informative,Positive
1,california_wildfires,917791291823591425,917791291823591425_1,RT @Cal_OES: PLS SHARE: Weâ€™re capturing wild...,data_image/california_wildfires/10_10_2017/917...,not_informative,informative,not_informative,Negative
2,california_wildfires,917793137925459968,917793137925459968_0,RT @KAKEnews: California wildfires destroy mor...,data_image/california_wildfires/10_10_2017/917...,informative,informative,informative,Positive
3,california_wildfires,917793137925459968,917793137925459968_1,RT @KAKEnews: California wildfires destroy mor...,data_image/california_wildfires/10_10_2017/917...,informative,informative,informative,Positive
4,california_wildfires,917793137925459968,917793137925459968_2,RT @KAKEnews: California wildfires destroy mor...,data_image/california_wildfires/10_10_2017/917...,informative,informative,informative,Positive
...,...,...,...,...,...,...,...,...,...
13603,hurricane_maria,912341945430798336,912341945430798336_0,11am #Maria update: tropical storm force winds...,data_image/hurricane_maria/25_9_2017/912341945...,informative,informative,informative,Positive
13604,hurricane_irma,909936612196454403,909936612196454403_0,RT @WhereTraveler: Hurricane Irma Survival Gui...,data_image/hurricane_irma/19_9_2017/9099366121...,informative,informative,not_informative,Negative
13605,hurricane_harvey,905581858485882881,905581858485882881_0,Thinking of doing a #DNA test? Buy a @FamilyTr...,data_image/hurricane_harvey/7_9_2017/905581858...,not_informative,informative,not_informative,Negative
13606,hurricane_irma,909879746598723590,909879746598723590_0,Now blaming Hurricane Irma on Ursula the Witch...,data_image/hurricane_irma/18_9_2017/9098797465...,informative,informative,not_informative,Negative
13607,mexico_earthquake,910700764808564736,910700764808564736_0,"Earthquake in Mexico rocks PH Embassy, no Fili...",data_image/mexico_earthquake/21_9_2017/9107007...,informative,informative,informative,Positive

In [163]:
selected_columns=df[['image','label_text']]
df2=selected_columns.copy()

In [166]:
df2

                                                   image   label_text
0      data_image/california_wildfires/10_10_2017/917...  informative
1      data_image/california_wildfires/10_10_2017/917...  informative
2      data_image/california_wildfires/10_10_2017/917...  informative
3      data_image/california_wildfires/10_10_2017/917...  informative
4      data_image/california_wildfires/10_10_2017/917...  informative
...                                                  ...          ...
13603  data_image/hurricane_maria/25_9_2017/912341945...  informative
13604  data_image/hurricane_irma/19_9_2017/9099366121...  informative
13605  data_image/hurricane_harvey/7_9_2017/905581858...  informative
13606  data_image/hurricane_irma/18_9_2017/9098797465...  informative
13607  data_image/mexico_earthquake/21_9_2017/9107007...  informative

[13608 rows x 2 columns]

In [165]:
code = []

for i in range(df2.shape[0]):
    if (df2.iloc[i]['label_text']=='informative'):
        code.append(1)
    elif (df2.iloc[i]['label_text']=='not_informative'):
        code.append(0)
    else:
        poke_type.append('NaN')
        code.append('NaN')

In [48]:
df2['code'] = code
new_df1 = df2

new_df1.reset_index(drop=True, inplace=True)

In [50]:
new_df1

,image,label_image,code
0,data_image/california_wildfires/10_10_2017/917...,informative,1
1,data_image/california_wildfires/10_10_2017/917...,not_informative,0
2,data_image/california_wildfires/10_10_2017/917...,informative,1
3,data_image/california_wildfires/10_10_2017/917...,informative,1
4,data_image/california_wildfires/10_10_2017/917...,informative,1
...,...,...,...
13603,data_image/hurricane_maria/25_9_2017/912341945...,informative,1
13604,data_image/hurricane_irma/19_9_2017/9099366121...,not_informative,0
13605,data_image/hurricane_harvey/7_9_2017/905581858...,not_informative,0
13606,data_image/hurricane_irma/18_9_2017/9098797465...,not_informative,0
13607,data_image/mexico_earthquake/21_9_2017/9107007...,informative,1

In [51]:
new_df1.drop('label_image',axis = 1,inplace=True)

In [167]:
from sklearn.model_selection import train_test_split
train_df1, test_df1= train_test_split(df2, test_size=0.2, random_state=25)

In [168]:
test_df1

                                                   image       label_text
6334   data_image/hurricane_maria/24_9_2017/911922812...  not_informative
10738  data_image/hurricane_maria/1_10_2017/914599836...      informative
3986   data_image/hurricane_maria/23_10_2017/92227041...  not_informative
438    data_image/srilanka_floods/28_6_2017/880086747...  not_informative
2803   data_image/hurricane_irma/18_9_2017/9098461211...      informative
...                                                  ...              ...
1775   data_image/hurricane_maria/25_9_2017/912389558...      informative
1645   data_image/hurricane_maria/23_9_2017/911712278...      informative
6420   data_image/hurricane_irma/17_9_2017/9093950452...      informative
13236  data_image/srilanka_floods/29_6_2017/880461341...  not_informative
7692   data_image/hurricane_irma/18_9_2017/9097503863...      informative

[2722 rows x 2 columns]

In [169]:
train_df1

                                                   image       label_text
11191  data_image/hurricane_harvey/7_9_2017/905935224...  not_informative
7707   data_image/mexico_earthquake/27_9_2017/9130488...      informative
182    data_image/srilanka_floods/1_6_2017/8701060807...  not_informative
1724   data_image/hurricane_maria/24_9_2017/912102963...      informative
7911   data_image/hurricane_maria/30_9_2017/914272099...      informative
...                                                  ...              ...
2934   data_image/hurricane_irma/19_9_2017/9099325257...      informative
10383  data_image/hurricane_irma/18_9_2017/9097972497...      informative
6618   data_image/hurricane_harvey/4_9_2017/904850093...  not_informative
8510   data_image/hurricane_irma/7_9_2017/90571203508...      informative
13444  data_image/iraq_iran_earthquake/14_11_2017/930...      informative

[10886 rows x 2 columns]

In [170]:
import cv2

In [171]:
nrows=150
ncolumns=150
channels=3

In [172]:
def read(path,lab):
    X5=[]
    y5=[]
    for image in path:
        X5.append(cv2.resize(cv2.imread(image,cv2.IMREAD_COLOR),(nrows,ncolumns),interpolation=cv2.INTER_CUBIC))
    for la in lab:
        if(la=='informative'):
            y5.append(1)
        else:
            y5.append(0)
    return X5,y5

In [174]:
X,y=read(train_df1['image'],train_df1['label_text'])

In [175]:
X[0]

array([[[216, 203, 159],
        [180, 162, 132],
        [182, 179, 147],
        ...,
        [ 39,  49,  47],
        [117, 119, 129],
        [124, 124, 140]],

       [[218, 195, 169],
        [176, 156, 125],
        [119,  98,  69],
        ...,
        [102, 109, 120],
        [122, 124, 142],
        [111, 116, 126]],

       [[223, 197, 175],
        [214, 191, 161],
        [201, 176, 145],
        ...,
        [106, 113, 131],
        [119, 123, 141],
        [116, 122, 135]],

       ...,

       [[ 97,  91,  78],
        [107,  98,  85],
        [104,  95,  82],
        ...,
        [173, 158, 162],
        [172, 178, 190],
        [141, 147, 160]],

       [[ 98,  91,  76],
        [109,  98,  84],
        [110,  99,  85],
        ...,
        [183, 162, 155],
        [174, 172, 175],
        [150, 148, 151]],

       [[107,  96,  82],
        [109,  98,  84],
        [112,  99,  83],
        ...,
        [188, 154, 144],
        [200, 189, 183],
        [151, 143, 146]]], dtype=uint8)

In [176]:
y

[0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 ...]

In [177]:
X=np.array(X)

In [178]:
X.shape

(10886, 150, 150, 3)

In [179]:
y=np.array(y)

In [180]:
y.shape

(10886,)

In [181]:
X_train1, X_val1, y_train1, y_val1 = train_test_split(X, y, random_state=42, test_size=0.15)

In [182]:
X_train1.shape

(9253, 150, 150, 3)

In [183]:
train_datagen = ImageDataGenerator(
    
    rescale=1./255., 
    rotation_range=40, 
    width_shift_range=0.2, 
    height_shift_range=0.2, 
    shear_range=.2, 
    zoom_range=0.2,
    horizontal_flip=True, 
    fill_mode='nearest',
    validation_split=0.1
)

In [184]:
train_generator = train_datagen.flow(
    X_train1,y_train1,batch_size=32, 
   
)
validation_generator= train_datagen.flow(
    X_val1,y_val1,batch_size=32, 
   
)

In [185]:
model1 = keras.Sequential()

# Convolutional layer and maxpool layer 1
model1.add(keras.layers.Conv2D(32,(3,3),activation='relu',input_shape=(150,150,3)))
model1.add(keras.layers.MaxPool2D(2,2))

# Convolutional layer and maxpool layer 2
model1.add(keras.layers.Conv2D(64,(3,3),activation='relu'))
model1.add(keras.layers.MaxPool2D(2,2))

# Convolutional layer and maxpool layer 3
model1.add(keras.layers.Conv2D(128,(3,3),activation='relu'))
model1.add(keras.layers.MaxPool2D(2,2))

# Convolutional layer and maxpool layer 4
model1.add(keras.layers.Conv2D(128,(3,3),activation='relu'))
model1.add(keras.layers.MaxPool2D(2,2))

# This layer flattens the resulting image array to 1D array
model1.add(keras.layers.Flatten())
# model1.add(keras.dropout(0.5))
# Hidden layer with 512 neurons and Rectified Linear Unit activation function 
model1.add(keras.layers.Dense(512,activation='relu'))

# Output layer with single neuron which gives 0 for Cat or 1 for Dog 
#Here we use sigmoid activation function which makes our model output to lie between 0 and 1
model1.add(keras.layers.Dense(1,activation='sigmoid'))

In [186]:
model1.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv2d_4 (Conv2D)           (None, 148, 148, 32)      896

 max_pooling2d_4 (MaxPooling  (None, 74, 74, 32)       0
 2D)

 conv2d_5 (Conv2D)           (None, 72, 72, 64)        18496

 max_pooling2d_5 (MaxPooling  (None, 36, 36, 64)       0
 2D)

 conv2d_6 (Conv2D)           (None, 34, 34, 128)       73856

 max_pooling2d_6 (MaxPooling  (None, 17, 17, 128)      0
 2D)

 conv2d_7 (Conv2D)           (None, 15, 15, 128)       147584

 max_pooling2d_7 (MaxPooling  (None, 7, 7, 128)        0
 2D)

 flatten_4 (Flatten)         (None, 6272)              0

 dense_12 (Dense)            (None, 512)               3211776

 dense_13 (Dense)            (None, 1)                 513

=================================================================
Total params: 3,453,121
Trainable params: 3,453,121
Non-trainable params: 0
_________________________________________________________________

In [187]:
model1.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [189]:
history1=model1.fit_generator(train_generator,
         
         epochs = 2,
         validation_data = validation_generator
       
         )

<ipython-input-189-c36b89fbdcc5>:1: UserWarning: `Model.fit_generator` is deprecated and will be removed in a future version. Please use `Model.fit`, which supports generators.
  history1=model1.fit_generator(train_generator,

Epoch 1/2
290/290 [==============================] - 208s 718ms/step - loss: 0.6030 - accuracy: 0.7073 - val_loss: 0.5925 - val_accuracy: 0.7152
Epoch 2/2
290/290 [==============================] - 206s 710ms/step - loss: 0.6017 - accuracy: 0.7073 - val_loss: 0.5883 - val_accuracy: 0.7152

In [190]:
results = model1.evaluate_generator(validation_generator)

<ipython-input-190-2d509f92f66e>:1: UserWarning: `Model.evaluate_generator` is deprecated and will be removed in a future version. Please use `Model.evaluate`, which supports generators.
  results = model1.evaluate_generator(validation_generator)

In [191]:
print("Accuracy = ", results[1]*100)

Accuracy =  71.52479887008667

In [192]:
results1 = model1.evaluate(X_val1, y_val1, batch_size=128)

13/13 [==============================] - 10s 548ms/step - loss: 2.2644 - accuracy: 0.7012

In [193]:
print("Accuracy = ", results1[1]*100)

Accuracy =  70.11635303497314

# COMBINED

In [194]:
from keras import Model
from keras.layers.core import Dense, Activation
from keras.layers import Conv2D, Conv1D, MaxPooling2D, Reshape, Concatenate, Dropout , MaxPooling1D, Flatten
from keras.layers import Dense, Input

In [195]:
out1 = model.output

In [196]:
out2=model1.output

In [197]:
from keras.layers import concatenate 
from keras.layers import Concatenate 

x = concatenate([out1, out2])

In [198]:
out = Dense(1, activation='softmax')(x)

In [199]:
model2 = Model(inputs=[model.input, model1.input], outputs=[out])

model2.compile(optimizer='adam', loss='binary_crossentropy',metrics=['accuracy'])

In [200]:
model2.summary()

Model: "model_1"
__________________________________________________________________________________________________
 Layer (type)                   Output Shape         Param #     Connected to
==================================================================================================
 conv2d_4_input (InputLayer)    [(None, 150, 150, 3  0           []
                                )]

 conv2d_4 (Conv2D)              (None, 148, 148, 32  896         ['conv2d_4_input[0][0]']
                                )

 max_pooling2d_4 (MaxPooling2D)  (None, 74, 74, 32)  0           ['conv2d_4[0][0]']

 conv2d_5 (Conv2D)              (None, 72, 72, 64)   18496       ['max_pooling2d_4[0][0]']

 embedding_2_input (InputLayer)  [(None, 10)]        0           []

 max_pooling2d_5 (MaxPooling2D)  (None, 36, 36, 64)  0           ['conv2d_5[0][0]']

 embedding_2 (Embedding)        (None, 10, 32)       320000      ['embedding_2_input[0][0]']

 conv2d_6 (Conv2D)              (None, 34, 34, 128)  73856       ['max_pooling2d_5[0][0]']

 flatten_3 (Flatten)            (None, 320)          0           ['embedding_2[0][0]']

 max_pooling2d_6 (MaxPooling2D)  (None, 17, 17, 128)  0          ['conv2d_6[0][0]']

 dense_9 (Dense)                (None, 16)           5136        ['flatten_3[0][0]']

 conv2d_7 (Conv2D)              (None, 15, 15, 128)  147584      ['max_pooling2d_6[0][0]']

 dropout_4 (Dropout)            (None, 16)           0           ['dense_9[0][0]']

 max_pooling2d_7 (MaxPooling2D)  (None, 7, 7, 128)   0           ['conv2d_7[0][0]']

 dense_10 (Dense)               (None, 8)            136         ['dropout_4[0][0]']

 flatten_4 (Flatten)            (None, 6272)         0           ['max_pooling2d_7[0][0]']

 dropout_5 (Dropout)            (None, 8)            0           ['dense_10[0][0]']

 dense_12 (Dense)               (None, 512)          3211776     ['flatten_4[0][0]']

 dense_11 (Dense)               (None, 1)            9           ['dropout_5[0][0]']

 dense_13 (Dense)               (None, 1)            513         ['dense_12[0][0]']

 concatenate_1 (Concatenate)    (None, 2)            0           ['dense_11[0][0]',
                                                                  'dense_13[0][0]']

 dense_14 (Dense)               (None, 1)            3           ['concatenate_1[0][0]']

==================================================================================================
Total params: 3,778,405
Trainable params: 3,778,405
Non-trainable params: 0
__________________________________________________________________________________________________

In [202]:
history2=model2.fit([X_train,X_train1], y_train,epochs=1,validation_data=([X_test,X_val1], y_val1))

290/290 [==============================] - 193s 659ms/step - loss: 0.5904 - accuracy: 0.7073 - val_loss: 0.5779 - val_accuracy: 0.7152

In [203]:
results1 = model2.evaluate([X_test,X_val1], y_val1, batch_size=128)

13/13 [==============================] - 7s 535ms/step - loss: 0.5779 - accuracy: 0.7152

In [204]:
print("Accuracy = ", results1[1]*100)

Accuracy =  71.52479887008667

In [205]:
import pandas as pd
df8 = pd.read_csv("C:\\Users\\HP\\Downloads\\CRISIS_1\\task_informative_text_img_train.csv", sep=',')
df8

,event_name,tweet_id,image_id,tweet_text,image,label,label_text,label_image,label_text_image
0,california_wildfires,917791291823591425,917791291823591425_0,RT @Cal_OES: PLS SHARE: Weâ€™re capturing wild...,data_image/california_wildfires/10_10_2017/917...,informative,informative,informative,Positive
1,california_wildfires,917791291823591425,917791291823591425_1,RT @Cal_OES: PLS SHARE: Weâ€™re capturing wild...,data_image/california_wildfires/10_10_2017/917...,not_informative,informative,not_informative,Negative
2,california_wildfires,917793137925459968,917793137925459968_0,RT @KAKEnews: California wildfires destroy mor...,data_image/california_wildfires/10_10_2017/917...,informative,informative,informative,Positive
3,california_wildfires,917793137925459968,917793137925459968_1,RT @KAKEnews: California wildfires destroy mor...,data_image/california_wildfires/10_10_2017/917...,informative,informative,informative,Positive
4,california_wildfires,917793137925459968,917793137925459968_2,RT @KAKEnews: California wildfires destroy mor...,data_image/california_wildfires/10_10_2017/917...,informative,informative,informative,Positive
...,...,...,...,...,...,...,...,...,...
13603,hurricane_maria,912341945430798336,912341945430798336_0,11am #Maria update: tropical storm force winds...,data_image/hurricane_maria/25_9_2017/912341945...,informative,informative,informative,Positive
13604,hurricane_irma,909936612196454403,909936612196454403_0,RT @WhereTraveler: Hurricane Irma Survival Gui...,data_image/hurricane_irma/19_9_2017/9099366121...,informative,informative,not_informative,Negative
13605,hurricane_harvey,905581858485882881,905581858485882881_0,Thinking of doing a #DNA test? Buy a @FamilyTr...,data_image/hurricane_harvey/7_9_2017/905581858...,not_informative,informative,not_informative,Negative
13606,hurricane_irma,909879746598723590,909879746598723590_0,Now blaming Hurricane Irma on Ursula the Witch...,data_image/hurricane_irma/18_9_2017/9098797465...,informative,informative,not_informative,Negative
13607,mexico_earthquake,910700764808564736,910700764808564736_0,"Earthquake in Mexico rocks PH Embassy, no Fili...",data_image/mexico_earthquake/21_9_2017/9107007...,informative,informative,informative,Positive

In [209]:
df8['label_text'].value_counts()

informative        9638
not_informative    3970
Name: label_text, dtype: int64

In [214]:
X8=df8['tweet_text']
y8=df8['label_text']

In [215]:
from sklearn.model_selection import train_test_split
from collections import Counter
X_train8, X_test8, y_train8, y_test8 = train_test_split(X8, y8, test_size=0.3, random_state=100)
print(f"Training target statistics: {Counter(y_train8)}")
print(f"Testing target statistics: {Counter(y_test8)}")

Training target statistics: Counter({'informative': 6793, 'not_informative': 2732})
Testing target statistics: Counter({'informative': 2845, 'not_informative': 1238})

In [220]:
from imblearn.over_sampling import RandomOverSampler
from sklearn.neighbors import DistanceMetric
over_sampler = RandomOverSampler(random_state=42)
X_res8, y_res8 = over_sampler.fit_resample(X_train8, y_train8)
print(f"Training target statistics: {Counter(y_res8)}")
print(f"Testing target statistics: {Counter(y_test8)}")

ImportError: cannot import name 'DistanceMetric' from 'sklearn.metrics' (C:\Users\HP\anaconda3\lib\site-packages\sklearn\metrics\__init__.py)

In [217]:
pip install imblearn

Collecting imblearnNote: you may need to restart the kernel to use updated packages.

  Downloading imblearn-0.0-py2.py3-none-any.whl (1.9 kB)
Collecting imbalanced-learn
  Downloading imbalanced_learn-0.9.0-py3-none-any.whl (199 kB)
Requirement already satisfied: numpy>=1.14.6 in c:\users\hp\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.20.1)
Requirement already satisfied: scipy>=1.1.0 in c:\users\hp\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.6.2)
Requirement already satisfied: joblib>=0.11 in c:\users\hp\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.0.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\hp\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (2.1.0)
Collecting scikit-learn>=1.0.1
  Downloading scikit_learn-1.0.2-cp38-cp38-win_amd64.whl (7.2 MB)
Installing collected packages: scikit-learn, imbalanced-learn, imblearn
  Attempting uninstall: scikit-learn
    Found existing installation: scikit-learn 0.24.1
    Uninstalling scikit-learn-0.24.1:
      Successfully uninstalled scikit-learn-0.24.1
Successfully installed imbalanced-learn-0.9.0 imblearn-0.0 scikit-learn-1.0.2

In [223]:
from imbalanced_learn import UnderSampler, OverSampler, SMOTE

ModuleNotFoundError: No module named 'imbalanced_learn'

In [222]:
pip install imbalanced_learn

Requirement already satisfied: imbalanced_learn in c:\users\hp\anaconda3\lib\site-packages (0.9.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: joblib>=0.11 in c:\users\hp\anaconda3\lib\site-packages (from imbalanced_learn) (1.0.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\hp\anaconda3\lib\site-packages (from imbalanced_learn) (2.1.0)
Requirement already satisfied: scipy>=1.1.0 in c:\users\hp\anaconda3\lib\site-packages (from imbalanced_learn) (1.6.2)
Requirement already satisfied: scikit-learn>=1.0.1 in c:\users\hp\anaconda3\lib\site-packages (from imbalanced_learn) (1.0.2)
Requirement already satisfied: numpy>=1.14.6 in c:\users\hp\anaconda3\lib\site-packages (from imbalanced_learn) (1.20.1)